# Telegram token
RENTEE_TOKEN=
OWNER_TOKEN=

# DB (PostgreSQL)
POSTGRES_DB=db
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_ADDRESS=
DB_PORT=5432

# Parser

# STORAGE_IDS is list of Telegram channels used for listing pictures, example:
# STORAGE_IDS = '[-1001703670132, -1001250306088, -1001790304267]' 
STORAGE_IDS = '[-1001703670132, -1001250306088, -1001790304267]' 

# PROXY = '["http://user:pass@ip:port", "http://user:pass@ip:port"]' 
PROXY = '["http://pbj962:agp386@139.28.37.125:10622", "http://dtb864:lpt193@139.28.37.125:11230", "http://blu432:nih009@139.28.37.125:10066" ]'

# how much to sleep in seconds before marketplace querying
SLEEP_INTERVAL = 600

# states cache
MONGO_HOST=cache
MONGO_PORT=27017
MONGO_USERNAME=
MONGO_PASSWORD=
